.prevyu_article
{
    padding-top: 40px;
    padding-bottom: 120px;
    .prevyu_article_title
    {
        text-align: center;
        color: #0097b0;
        font-family: "Merriweather-Regular";
        font-weight: 300;
        font-size: 24px;
    }
}